body{
    background-image: url("images/add.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
input{
    color:white;
    font-style: bold;
}